[Desktop Entry]
Name=QVV
Comment=Image Viewer and Browser
Exec=qvv
Type=Application
Terminal=false
MapNotify=false
Encoding=UTF-8
Categories=Qt;Graphics;2DGraphics;
Icon=qvv.png
# vi: encoding=utf-8
