[Desktop Entry]
Name=QVV
Comment=Image Viewer and Browser
Exec=qvv
Type=Application
Terminal=false
Categories=Qt;Graphics;2DGraphics;
Icon=qvv
# vi: encoding=utf-8
